<h1 class="center-align">Restaurants</h1>
<div class="row">
  <% @restaurants.map do |restaurant| %>
    <div class="col s4 m6">
      <div class="card medium purple lighten-3">
        <div class="card-image">
          <img class="responsive-img" src="/restaurant_photos/<%= restaurant['photo_name'] %>">
          <span class="card-title"><%= restaurant['name'] %></span>
        </div>
        <div class="card-content">
          <p>
          <%= restaurant['name'] %>: <%= restaurant['phone_number'] %>
          </p>
        </div>
        <div class="card-action">
          <a href="/restaurants/<%= restaurant['id']%>">View Restaurant</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
